{{define "default.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="go-import" content="{{.privateDomain}}{{.privateLibPathPrefix}}/{{.mod}} git {{.privateGitPathPrefix}}/{{.mod}}.git">
</head>
</html>
{{end}}