{{define "default.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="go-import" content="globalpand.cn/libs/{{.mod}} git git@codeup.aliyun.com:64f57a14f82f735b8cef720b/server/{{.mod}}.git">
</head>
</html>
{{end}}